/.tox
*.pyc
*.swp
.ropeproject
*.orig
*.sqlite
*.log
*.cache
*.coverage
env
deployment/uworker/variables.json
deployment/uworker/packer_cache/
deployment/uworker/packer_virtualbox-iso_virtualbox.box
deployment/uworker/.vagrant/
deployment/uworker/microq.tar.gz
deployment/uworker/worker_config.txt
deployment/uworker/output-vagrant
deployment/uworker/uworker-bionic
result.xml
