*.pyc
*.swp
.ropeproject
*.orig
*.sqlite
*.log
*.cache
*.coverage
deployment/uworker/variables.json
deployment/uworker/packer_cache/
deployment/uworker/packer_virtualbox-iso_virtualbox.box
deployment/uworker/.vagrant/
